/* Override Payload admin panel logo styles */
.step-nav span[title="Dashboard"] {
  max-width: none !important;
  width: auto !important;
  height: auto !important;
}

.step-nav span[title="Dashboard"] img {
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  min-height: 40px !important;
}

.step-nav__home{
  width: auto !important;
  height: auto !important;  
}
.step-nav__home img {
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  min-height: 40px !important;
}
